.navbar {
  position: relative;
  z-index: 1;

  .menu {
    padding: $edge-padding;
    color: $primary-color;
  }

  .menu-close {
    text-align: right;
    color: #fff;
  }

  .menu-list {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: $primary-color;
  }
}
