[v-cloak] {
  display: none !important;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
  height: 100vh;
  background-color: $body-color;
}

.navbar {
  position: relative;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  text-align: right;
}

@media (min-width: $md) {
  .navbar {
    max-width: $max-container-width;
  }
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: $max-container-width;
  margin: 0 auto;
  text-align: center;
}

.contents {
  display: grid;
  grid-gap: 1.5rem;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 $edge-padding;
}

.adsense {
  margin-top: auto;


  >a {
    display: block;
    width: 100%;
    height: 50px !important;
    background-color: #aaa;
    text-align: center;
  }
}

.footer {
  padding: $edge-padding;
  text-align: center;
}
