@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;600;700&display=swap');
$xs: 374px;
$sm: 375px;
$md: 768px;
$lg: 1024px;

// Colors
$body-color: #f5f5dc;
$primary-color: #008000;
$primary-color: #0272b6;
$secondary-color: lighten($primary-color, 20%);
$disabled-btn-color: #dcdcdc;
$opp-color: #009828;
$opp-color: #a11f7f;
$opp-color: #1d2089;
$call-color: crimson;
$game-num-color: #ec8603;


// Spacer
$edge-padding: 12px;

// Font
$base-font-family: 'Ubuntu',
sans-serif;
$base-font-weight: 300;


// Layout
$max-container-width: 1280px;
