// Colors
$primary-color: green;
$secondary-color: greenyellow;
$body-color: beige;
$disabled-btn-color: #aaa;

// Spacer
$edge-padding: 12px;

// Font
$base-font-family: 'Ubuntu',
sans-serif;
$base-font-weight: 300;


// Layout
$max-container-width: 1280px;
