@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;600;700&display=swap');

// Colors
$primary-color: #0272b6;
$primary-color: #008000;
$secondary-color: #0272b6;
$secondary-color: #adff2f;
$body-color: #f5f5dc;
$disabled-btn-color: #dcdcdc;
$opp-color: #009828;
$opp-color: #a11f7f;
$opp-color: #1d2089;
$call-color: crimson;
$game-num-color: #ec8603;


// Spacer
$edge-padding: 12px;

// Font
$base-font-family: 'Ubuntu',
sans-serif;
$base-font-weight: 300;


// Layout
$max-container-width: 1280px;
