@import "../app/main";

.fight {
  p {
    margin: 0;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .grid {
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-gap: 1rem;
    text-align: center;
  }

  .btn.-circle {
    width: 44px;
    height: 44px;
    line-height: 44px;
    padding: 0;
    background-color: $disabled-btn-color;
  }

  .btn.-circle.active {
    background-color: $primary-color;
  }

  .call,
  .raise {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    min-height: 44px;
  }


  .call .label,
  .raise .label {
    width: 18%;
    font-size: .85rem;
    padding-right: 3%;
  }

  .call .btn-box,
  .raise .btn-box {
    flex-grow: 1;
  }

  .btn-box .btn {
    margin-right: 0.25rem;
  }

  .btn:disabled {
    background-color: $disabled-btn-color;
    cursor: not-allowed;
  }

  .balloon {
    position: relative;
    background-color: #fff;
    padding: 8px;
    width: 90%;
    margin: 1rem auto 0 auto;
    border-radius: 40px;
    border: 1px solid #bbbbbb;
  }

  .balloon.is-user {
    border-color: $primary-color;
  }

  .balloon.is-opp {
    border-color: red;
  }

  .balloon:before {
    position: absolute;
    left: 50%;
    display: inline-block;
    width: 16px;
    transform: translateX(-50%);

  }

  .balloon.is-opp:before {
    content: '▲';
    color: red;
    position: absolute;
    top: -18px;
  }

  .balloon.is-user:before {
    display: inline-block;
    content: '▼';
    color: $primary-color;
    bottom: -18px;
  }

  .message {
    font-size: 1rem;
    margin: 0;
  }

  .is-user .message {
    color: $primary-color;
  }

  .is-opp .message {
    color: red;
  }

  .is-called .message {
    font-weight: 600;
  }

  .control {
    width: 100%;
  }

  .fight {
    margin-top: 0.4rem;
  }

  .play-again {
    margin-top: 1.5rem;
  }

  .img-box {
    text-align: center;
  }

  .fist,
  .face {
    width: auto;
    object-fit: cover;
  }

  .fist {
    height: 88px;
  }

  .face {
    height: 64px;
  }

  .adsense {
    margin-top: auto;
  }
}
