@import "../app/main";

.fight {
  p {
    margin: 0;
  }

  .grid {
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-gap: 1rem;
    text-align: center;
  }

  .btn-box {
    padding: 0 2.5%;
  }

  .btn.call-btn,
  .btn.finger-btn {
    width: 44px;
    height: 44px;
    line-height: 44px;
    padding: 0;
    background-color: $disabled-btn-color;
  }

  .call-btn.active,
  .btn.finger-btn.active {
    background-color: $primary-color;
  }

  .fight-btn:disabled {
    background-color: $disabled-btn-color;
    cursor: not-allowed;
  }

  .balloon {
    position: relative;
    background-color: #fff;
    padding: 8px;
    width: 90%;
    margin: 0 auto;
    border-radius: 40px;
    border: 1px solid #aaa;
    margin-top: 1rem;
  }

  .balloon.is-user {
    border-color: $primary-color;
  }

  .balloon.is-opp {
    border-color: red;
  }

  .balloon:before {
    position: absolute;
    left: 50%;
    display: inline-block;
    width: 16px;
    transform: translateX(-50%);

  }

  .balloon.is-opp:before {
    content: '▲';
    color: red;
    position: absolute;
    top: -18px;
  }

  .balloon.is-user:before {
    display: inline-block;
    content: '▼';
    color: $primary-color;
    bottom: -18px;
  }

  .message {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
  }

  .is-user .message {
    color: $primary-color;
  }

  .is-opp .message {
    color: red;
  }

  .is-called .message {
    font-size: 1.5rem;
  }

  .control {
    width: 100%;
  }

  .fist {
    width: auto;
    height: 88px;
    object-fit: cover;
  }
}
