@import "../app/main";
$caret-size: 8px;
$caret-shadow-size: calc(#{$caret-size} + 3px);
$caret-color: #fff;
$caret-shadow-color: #dcdcdc;

@mixin balloon-caret($size, $color, $turn) {
  position: absolute;
  left: 50%;
  content: '';
  border-right: $size solid transparent;
  border-left: $size solid transparent;

  $border-prop: $size solid $color;
  $pos-prop: calc(-1 * #{$size});

  @if ($turn=="me") {
    border-top: $border-prop;
    bottom: $pos-prop;
  }

  @else {
    border-bottom: $border-prop;
    top: $pos-prop;
  }

  transform: translateX(-50%);
}

.fight {
  p {
    margin: 0;
  }

  .play-field,
  .user-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .play-field.result {
    gap: 3rem;
  }

  .fist,
  .face {
    width: auto;
    height: 88px;
    object-fit: contain;
  }

  @media (min-width: $sm) {
    .fist {
      height: 104px;
    }
  }

  @media (min-width: 390px) {

    .fist {
      height: 128px;
    }

    .play-field {
      gap: 1.5rem;
    }
  }

  @media (min-width: $md) {
    .fist {
      height: 176px;
    }

    .face {
      height: 128px;
    }
  }

  .user-control {
    height: 100%;
    padding-bottom: 1.5rem;

    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-top: auto;
    }

    .row.fight {
      justify-content: center;
    }

    .label {
      width: 18%;
      padding-right: 3%;
      font-size: .85rem;
      font-weight: 600;
      color: #666;
    }

    .btn-group {
      flex-grow: 1;
      display: flex;
      justify-content: center;
    }
  }

  @media (min-width: $sm) {
    .user-control {
      .row {
        flex-direction: column;
      }

      .label {
        width: 100%;
        margin-bottom: 0.5rem;
        padding-right: 0;
        font-size: 1rem;
      }
    }
  }

  @media (min-width: $md) {

    .user-control {
      padding-bottom: 2.5rem;

      .label {
        font-size: 1.25rem;
        margin-bottom: .75rem;
      }
    }
  }

  @media (min-width: $lg) {
    .play-field {
      gap: 3rem;
    }

    .user-control {
      padding-bottom: 15%;
    }
  }


  /* Button Group */

  .btn-group .btn:not(:last-child) {
    margin-right: 0.25rem;
  }

  @media (min-width: $sm) {
    .btn-group .btn:not(:last-child) {
      margin-right: 0.5rem;
    }
  }

  @media (min-width: $md) {
    .btn-group .btn:not(:last-child) {
      margin-right: 1rem;
    }
  }

  .balloon {
    position: relative;
    background-color: #fff;
    padding: 0 .5rem;
    width: 95%;
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: $balloon-color;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    height: 44px;
    font-weight: 600;

    &:before {
      z-index: 3;
    }

    &:after {
      z-index: 2;
    }
  }

  .balloon.is-my-turn {
    border-color: $primary-color;

    &:before {
      @include balloon-caret($caret-size, $caret-color, "me");
    }

    &:after {
      @include balloon-caret($caret-shadow-size, $primary-color, "me");
    }
  }

  .balloon.is-opp-turn {
    border-color: $opp-color;

    &:before {
      @include balloon-caret($caret-size, $caret-color, "opp");
    }

    &:after {
      @include balloon-caret($caret-shadow-size, $opp-color, "opp");
    }
  }

  .balloon .round {
    font-size: .8rem;
    margin-right: .5rem;
    color: $game-num-color;
  }

  .balloon .message {
    font-size: 1rem;
    margin: 0;
    color: $balloon-color;
  }

  .balloon.is-my-turn .message {
    color: $primary-color;
  }

  .balloon.is-opp-turn .message {
    color: $opp-color;
  }

  .balloon.is-called .message {
    font-weight: 700;
    color: $call-color;
    font-size: 1.5rem;
  }

  @media (min-width: 390px) {
    .balloon {
      height: 56px;
    }

    .balloon .round {
      font-size: 1rem;
    }

    .balloon .message {
      font-size: 1.25rem;
    }
  }


  @media (min-width: $md) {

    .balloon {
      flex-direction: column;
      width: 75%;
      padding: 2rem 1.5rem;
      height: 90px;
    }

    .balloon .round {
      font-size: 1.25rem;
      margin-right: 0;
    }

    .balloon .message {
      font-size: 1.5rem;
    }

    .balloon.is-called .message {
      font-size: 2rem;
    }
  }

  @media (min-width: $lg) {
    .balloon {
      width: 50%;
    }
  }

  // .play-again {
  //   margin-top: 1.5rem;
  // }
}
